<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
      </div>
    </div>
    <% if (user) { %>
      <form class="form-inline" action="/logout" method="POST">
        <label for="email" style="margin: 0.4em">Logged in as <%= user.email %></label>
        <button type="logout" class="btn btn-danger">Logout</button>
      </form>
    <% } else { %>
      <form class="form-inline" action="/login" method="POST" class="align-middle">
        <input class="form-control" type="email" name="email" placeholder="azure@diamond.com" style="width: 150px; margin: 0.2em">
        <input class="form-control" type="password" name="password" placeholder="*******" style="width: 150px; margin: 0.2em">
        <button type="login" class="btn btn-primary" style="margin: 0.2em">Login</button>
      </form>
      <form class="form-inline" action="/register" method="GET" class="align-middle">
        <button type="register" class="btn btn-secondary" style="margin: 0.2em">Register</button>
      </form>
    <% } %>
  </nav>
</header>